* {
    font-family: "Product Sans";

    &.background {
        background: none;
    }
}

@keyframes pulse {
    0% {
        background: radial-gradient(#222436, black);
    }
    50% {
        background: radial-gradient(black, black);
    }
    100% {
        background: radial-gradient(#222436, black);
    }
}

.activate-linux {
    color: rgba(250, 250, 250, 0.6);
    text-shadow: 2px 5px 50px rgba(0, 0, 0, 0.2);
}

.clock {
    color: rgba(250, 250, 250, 1);
    opacity: 0.9;
    font-size: 5rem;
    font-weight: bold;
    text-shadow:
        5px 10px rgba(0, 0, 0, 0.2),
        -3px -3px 0 rgba(0, 0, 0, 0.2),
        3px -3px 0 rgba(0, 0, 0, 0.2),
        -3px 3px 0 rgba(0, 0, 0, 0.2),
        3px 3px 0 rgba(0, 0, 0, 0.2),
        -3px 0 0 rgba(0, 0, 0, 0.2),
        3px 0 0 rgba(0, 0, 0, 0.2),
        0 -3px 0 rgba(0, 0, 0, 0.2),
        0 3px 0 rgba(0, 0, 0, 0.2);
}

.getting-shit-ready-2,
.getting-shit-ready-1 {
    &.background {
        animation: pulse 10s infinite ease-in-out;
    }

    color: rgba(250, 250, 250, 1);
    font-size: 1.5rem;
    font-weight: normal;
}

.media {
    &.background {
        background: rgba(16, 18, 23, 0.6);
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.3);
    }

    button {
        border-radius: 100%;
        margin: 0px 0.3rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: #2e2e2e;
        transition: all 0.4s ease-in-out;

        &:hover {
            background: radial-gradient(#2e2e2e, lighten(#2e2e2e, 10%));
        }
    }

    .controls {
        label {
            font-size: 1.3rem;
            min-width: 20px;
            min-height: 20px;
        }
    }

    .duration {
        label {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .song_name {
        text-shadow:
            0px 0px 10px rgba(0, 0, 0, 0.5),
            0px 0px 3px white;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }
    .artist_name {
        text-shadow:
            0px 0px 10px rgba(0, 0, 0, 0.5),
            0px 0px 3px white;
        font-size: 0.9rem;
        font-weight: 200;
        transition: all 0.4s ease-in-out;
    }

    color: #ffffff;
    padding: 15px 40px;
}
