.lockscreenplayerstatus {
  background-color: $contrastbg;
  color: $fg;
  font-family: Product Sans;
  font-size: 14px;
  margin-top: 10px;

  .bg-picture {
    min-width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $radius;
    padding: 15px 20px;

    .music-name {
      font-weight: bold;
      font-size: 1.1rem;
    //   margin-bottom: 5px;
      text-shadow: 2px 3px 4px rgba(0,0,0,0.65);
    }
    .music-artist {
    //   margin-top: 30px;
      font-size: .9rem;
      text-shadow: 2px 3px 4px rgba(0,0,0,0.65);
    }

    .picture {
      min-height: 150px;

      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      border-radius: 10px;

      .testpic {
        min-height: 160px;
        min-width: 160px;
        border-radius: 10px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 50px;
      }

      margin: 0;
      padding: 0;
    }
  }

  .controls {
    background-color: transparent;
    border-radius: $radius;
    font-family: Iosevka Nerd Font;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    padding: 0px 30px;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.65);
    .pause {
      padding: 5px 7px 4px 2px;
      font-size: 12px;
    }
  }
}