* {
  all: unset;
  font-family: Product Sans, Noto Sans CJK JP;
}

.hide {
  background-color: transparent;
  color: transparent;
  font-size: 0px;
  &:hover {
    background-color: transparent;
  }
  &:active {
    background-color: transparent;
  }
}

tooltip.background {
  font-size: 1rem;
  border-radius: 20px;
  color: #b6beca;
}

tooltip label {
  margin: 6px;
}
