[Desktop Entry]
Name=Japanese Style Gate

X-KDE-PluginInfo-Name=JapaneseStyleGate
X-KDE-PluginInfo-Author=Dani
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
